[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toposort = "*"
uvloop = "*"
toposort = "*"

[dev-packages]
pytest = "*"
typing-extensions = "*"
black = "*"
isort = "*"
pytest-cov = "*"
uvicorn = "*"
gunicorn = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
