[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toposort = "*"
uvloop = "*"

[dev-packages]
pytest = "*"
typing-extensions = "*"
black = "*"
isort = "*"
pytest-cov = "*"
sanic = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
