[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvloop = "*"
toposort = "*"
typing_extensions = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
pytest-cov = "*"
uvicorn = "*"
gunicorn = "*"
mypy = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "python -m pytest ."
test-cov = "python -m pytest --cov-report term --cov=jab/ --omit=*_test.py jab/"
black = "python -m black -l 110 ."
